@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.new-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 50px;
  }

  .new-login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff9a8b, #ff6a88, #ff99ac, #ffb199, #ffc3a0);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    z-index: -1;
  }

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.new-login * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    padding-top: 130px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 625px;
  }

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 10px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    margin-top: 5px;
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}



@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {

    height: 100%;
    background: linear-gradient(45deg, #ff9a8b, #ff6a88, #ff99ac);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

.container button {
    background: linear-gradient(45deg, #ff9a8b, #ff6a88, #ff99ac);
    background-size: 200% 200%;
    animation: buttonGradient 5s ease infinite;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

@keyframes buttonGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media (max-width: 1700px) {
    .container {
        width: 70%;
        max-width: 800px;
    }
    
    .new-login {
        padding-top: 100px;
    }

    .container h1 {
        font-size: 2.5rem;
    }

    .container p {
        font-size: 1.2rem;
    }
}

@media (max-width: 1500px) {
    .container {
        width: 70%;
        max-width: 800px;
    }
    
    .new-login {
        padding-top: 100px;
    }

    .container h1 {
        font-size: 2.5rem;
    }

    .container p {
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 80%;
        max-width: 600px;
    }
    .new-login {
        padding-top: 80px;
    }

    .container h1 {
        font-size: 2rem;
    }

    .container p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .container {
      width: 90%;
      max-width: 500px;
      height: 600px;
      position: relative;
      overflow: hidden;
    }

    h1 {
        display:none;
    }
    button {
        height: 30px;
    }

    .signup-button{
        top: 15px;
    }

    .new-login {
      padding-top: 80px;
    }
    .container h1 {
        overflow: hidden;
    }
    .container p {
      font-size: 0.9rem;
    }

    .form-container {
      position: absolute;
      width: 100%;
      height: 50%;
      transition: all 0.6s ease-in-out;
    }
  
    .sign-in {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }
  
    .sign-up {
        bottom: -40%;
        left: 0;
        width: 100%;
        height: 51%;
        opacity: 0;
        z-index: 1;
      }

    .social-icons{
        height: 40px;
    }
    
    .form-input{
        height: 25px;
        padding: 50px 50px;
    }
    .container.active .sign-in {
      transform: translateY(-100%);
      opacity: 0;
      z-index: 1;
    }
  
    .container.active .sign-up {
      transform: translateY(80%);
      opacity: 1;
      z-index: 2;
    }

    .toggle-container {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      overflow: hidden;
      transition: all 0.6s ease-in-out;
      border-radius: 0 0 30px 30px;
    }
  
    .container.active .toggle-container {
        transform: translateY(-120%);
        border-radius: 30px 30px 0 0;
      }
  
    .toggle {
      position: relative;
      left: 0;
      height: 200%;
      width: 100%;
      transform: translateY(0);
      transition: all 0.6s ease-in-out;
    }
  
    .container.active .toggle {
      transform: translateY(-50%);
    }
  
    .toggle-panel {
      position: absolute;
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 30px;
      text-align: center;
      transition: all 0.6s ease-in-out;
    }
  
    .toggle-left {
      top: 0;
      transform: translateY(-100%);
      opacity: 0;
    }
  
    .toggle-right {
      bottom: 0;
      transform: translateY(0);
      opacity: 1;
    }
  
    .container.active .toggle-left {
      transform: translateY(100%);
      opacity: 1;
    }
  
    .container.active .toggle-right {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  @media (max-width: 480px) {
    .container {
        width: 80%;
        max-width: 360px;
        height: auto;
        min-height: 500px;
        max-height: 600px;
        padding: 20px;
        overflow: hidden;
        top: 30px;
    }
    .new-login {
      padding-top: 60px;
      overflow: hidden;
    }
    .container h1 {
      font-size: 1.5rem;
    }
    .container p {
      font-size: 0.8rem;
    }

    .form-container {
      position: absolute;
      width: 100%;
      height: 48%;
      transition: all 0.6s ease-in-out;
    }
  
    .sign-in {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }

    .option-text {
        display: none;
    }
  
    .sign-up {
      bottom: -38%;
      left: 0;
      width: 100%;
      height: 49%;
      opacity: 0;
      z-index: 1;
    }
  
    .social-icons {
      height: 35px;
    }
    .social-icons .text {
        font-size: 10px;
        white-space: nowrap;
        
    }
    .container.active .sign-in {
      transform: translateY(-100%);
      opacity: 0;
      z-index: 1;
    }

   h1 {
    display: none;
   }

   .error {
    display: none;
   }

    .container.active .sign-up {
      transform: translateY(92%);
      opacity: 1;
      z-index: 2;
    }
    .toggle-container {
      position: absolute;
      top: 52%;
      left: 0;
      width: 100%;
      height: 52%;
      overflow: hidden;
      transition: all 0.6s ease-in-out;
      border-radius: 0 0 25px 25px;
    }
  
    .container.active .toggle-container {
      transform: translateY(-115%);
      border-radius: 25px 25px 0 0;
    }
  
    .toggle {
      position: relative;
      left: 0;
      height: 200%;
      width: 100%;
      transform: translateY(0);
      transition: all 0.6s ease-in-out;
    }
  
    .container.active .toggle {
      transform: translateY(-50%);
    }
  
    .toggle-panel {
      position: absolute;
      width: 100%;
      height: 48%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 25px;
      text-align: center;
      transition: all 0.6s ease-in-out;
    }
  
    .toggle-left {
      top: 0;
      transform: translateY(-100%);
      opacity: 0;
    }
  
    .toggle-right {
      bottom: 0;
      transform: translateY(0);
      opacity: 1;
    }
  
    .container.active .toggle-left {
      transform: translateY(110%);
      opacity: 1;
    }
  
    .container.active .toggle-right {
      transform: translateY(-90%);
      opacity: 0;
    }
    button {
      height: 28px;
    }
  
    .signup-button {
      top: 12px;
    }
  
    .form-input {
      height: 22px;
      padding: 40px 40px;
    }
  }
  
  @media (max-width: 360px) {
    .container {
      width: 98%;
      max-width: 340px;
      height: 500px;
      position: relative;
      overflow: hidden;
    }
    .new-login {
      padding-top: 50px;
    }
    .container h1 {
      font-size: 1.3rem;
    }
    .container p {
      font-size: 0.75rem;
    }
    
    .form-container {
      position: absolute;
      width: 100%;
      height: 46%;
      transition: all 0.6s ease-in-out;
    }
  
    .sign-in {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }
  
    .sign-up {
      bottom: -36%;
      left: 0;
      width: 100%;
      height: 47%;
      opacity: 0;
      z-index: 1;
    }
  
    .social-icons {
      height: 30px;
      width: 200px;
    }
  
    .container.active .sign-in {
      transform: translateY(-100%);
      opacity: 0;
      z-index: 1;
    }
  
    .container.active .sign-up {
      transform: translateY(100%);
      opacity: 1;
      z-index: 2;
    }

    .toggle-container {
      position: absolute;
      top: 52%;
      left: 0;
      width: 100%;
      height: 48%;
      overflow: hidden;
      transition: all 0.6s ease-in-out;
      border-radius: 0 0 20px 20px;
    }
  
    .container.active .toggle-container {
      transform: translateY(-110%);
      border-radius: 20px 20px 0 0;
    }
  
    .toggle {
      position: relative;
      left: 0;
      height: 200%;
      width: 100%;
      transform: translateY(0);
      transition: all 0.6s ease-in-out;
    }
  
    .container.active .toggle {
      transform: translateY(-50%);
    }
  
    .toggle-panel {
      position: absolute;
      width: 100%;
      height: 46%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 20px;
      text-align: center;
      transition: all 0.6s ease-in-out;
    }
  
    .toggle-left {
      top: 0;
      transform: translateY(-100%);
      opacity: 0;
    }
  
    .toggle-right {
      bottom: 0;
      transform: translateY(0);
      opacity: 1;
    }
  
    .container.active .toggle-left {
      transform: translateY(100%);
      opacity: 1;
    }
  
    .container.active .toggle-right {
      transform: translateY(-100%);
      opacity: 0;
    }
    button {
      height: 26px;
    }
  
    .signup-button {
      top: 10px;
    }
  
    .form-input {
      height: 20px;
      padding: 35px 35px;
    }
  }  